# Clion:
src/.idea
src/cmake-build-debug

# Python cache:
src/__pycache__
src/server/__pycache__
src/ml/__pycache__

# Test binaries:
src/test_ef.so

# DS_Store:
.DS_Store
src/.DS_Store
src/server/.DS_Store
